.techs__list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style: none;
}

@media screen and (max-width: 400px) {
  .techs__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}